@font-face {
  font-family: "Romie Trial";
  font-weight: 400;
  src: url("./assets/fonts/RomieTrial/RomieTrial-Regular.otf")
    format("truetype");
}
@font-face {
  font-family: "Romie Trial";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/RomieTrial/RomieTrial-Regular-Italic.otf")
    format("truetype");
}
